<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - Looking For Group</title>
    <base href="/" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" href="~/admin-lte/css/AdminLTE.css">
    <link rel="stylesheet" href="~/admin-lte/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" />
    <link href="/vis/vis.css" rel="stylesheet" />
    <link href="/Content/toaster.min.css" rel="stylesheet" />
    <link href="/Content/flags.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/Content/rzslider.min.css" />
    <link href="/Content/angular-bootstrap-lightbox.min.css" rel="stylesheet" />
    <link href="/Content/Site.css" rel="stylesheet" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-432990-18"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', '@System.Web.Configuration.WebConfigurationManager.AppSettings["google-analytics"]');
    </script>
</head>
<body class="hold-transition skin-blue sidebar-mini" ng-app="lookingForGroup">
    <div id="alphamark"></div>
    <div id="github"><a href="https://github.com/michaltalaga/LookingForGroup"></a></div>
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="/" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>L</b>F<b>G</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Looking</b>For<b>Group</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                @*<a href="#" onclick="window.open('http://lookingforgroup.gg:80/Generate')">generate</a>*@
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="user-panel">
                        <div class="pull-left image">
                            <img src="~/Content/foreveralone.png" class="img-circle" alt="User Image">
                        </div>
                        <div class="pull-left info">
                            <p>@User.Identity.Name.Split('@')[0]</p>
                        </div>
                    </div>
                }
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">MAIN NAVIGATION</li>
                    <li><a ui-sref="About"><i class="fa fa-info"></i> <span>About</span></a></li>
                    <li><a ui-sref="Contact"><i class="fa fa-send"></i> <span>Contact</span></a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a ui-sref="Find"><i class="fa fa-search"></i> <span>Find</span></a></li>
                        <li><a ui-sref="Account"><i class="fa fa-user"></i> <span>Account</span></a></li>
                        <li><a href="/Logout" target="_self"><i class="fa fa-sign-out"></i> <span>Logout</span></a></li>
                    }
                    else
                    {
                        <li><a href="/Login" target="_self"><i class="fa fa-sign-in"></i> <span>Login</span></a></li>
                    }
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <toaster-container toaster-options="{'time-out': 1000}"></toaster-container>
            <section class="content" ui-view></section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 0.0.2
            </div>
            <strong>Copyright &copy; @DateTime.Now.Year <a href="https://www.twitch.tv/mikeonoid">Mikeon</a>.</strong> All rights
            reserved.
        </footer>
    </div>
    <!-- ./wrapper -->
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/tether.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/admin-lte/js/adminlte.min.js"></script>
    <script src="/Scripts/moment.min.js"></script>
    <script src="/Scripts/moment-range.js"></script>
    <script src="/vis/vis.js"></script>
    <script src="/Scripts/jquery.signalR-2.2.2.min.js"></script>
    @*<script src="/signalr/hubs"></script>*@
    <script src="/Scripts/angular.min.js"></script>
    <script src="/Scripts/angular-ui-router.min.js"></script>
    <script src="/Scripts/angular-animate.min.js"></script>
    <script src="/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="/Scripts/rzslider.min.js"></script>
    <script src="/Scripts/toaster.min.js"></script>
    <script src="/Scripts/angular-bootstrap-lightbox.min.js"></script>
    <script src="/Scripts/app.js"></script>
</body>
</html>