.vis-item {
    background-color: #5AC594;
    border-color: #00a65a;
    color: #fff;
}

    .vis-item.vis-selected {
        background-color: #00A65A;
        border-color: #008D4C;
        color: #fff inherit;
    }

.rz-pointer[aria-valuetext^="Bronze"], .ranks *[class^="Bronze"] {
    background-color: #732A10;
    color: white;
}

.rz-pointer[aria-valuetext^="Silver"], .ranks *[class^="Silver"] {
    background-color: #B6D5FF;
    color: black;
}

.rz-pointer[aria-valuetext^="Gold"], .ranks *[class^="Gold"] {
    background-color: #EFA92A;
    color: black;
}

.rz-pointer[aria-valuetext^="Platinum"], .ranks *[class^="Platinum"] {
    background-color: #887EFA;
    color: white;
}

.rz-pointer[aria-valuetext^="Diamond"], .ranks *[class^="Diamond"] {
    background-color: #84F2FA;
}

.rz-pointer[aria-valuetext^="Master"], .ranks *[class^="Master"] {
    background-color: #150A73;
    color: white;
}

.rz-pointer[aria-valuetext^="GrandMaster"], .ranks *[class^="GrandMaster"] {
    background-color: #150A73;
    color: white;
}

.find .vis-label .info {
    display: inline-block;
}

.find .vis-label:hover {
    background-color: #00c0ef;
    cursor: pointer;
}

.battletag .copy:hover {
    background-color: #00c0ef;
    cursor: pointer;
}

.find .vis-label .ranks {
    display: inline-block;
    margin-left: 2px;
}

    .find .vis-label .ranks > * {
        display: inline-block;
        width: 16px;
        height: 16px;
        border-radius: 8px;
        font-size: 11px;
        text-align: center;
        font-weight: bold;
    }

#alphamark {
    width: 162px;
    height: 162px;
    position: absolute;
    z-index: 9998;
    top:0;
    right:0;
    background-image: url(/Content/AlphaMark.png);
    background-repeat: no-repeat;
    background-position: right top;
}
#github {
    position: absolute;
    width: 160px;
    height: 24px;
    top: 25px;
    right: -40px;
    z-index: 9999;
    background-image: url(/Content/github.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
#github a{
    display: block;
    width: 100%;
    height:100%;
}
.find .vis-labelset .vis-label:first-of-type, .find .vis-itemset .vis-foreground .vis-group:first-of-type {
    background-color: #f39c12;
}