<div class="box">
    <div class="box">
        <div class="box-header">
            <h3><i class="fa fa-calendar"></i> About</h3>
        </div>
        <div class="box-body">
            <h4>The Problem</h4>
            <p>Not a day passes without someone, somewhere, looking for fellow gamers to play the game together. This process, however, requires more than just a simple call out.</p>
            <p>Consider the following sample Facebook conversations:</p>
            <p><img src="/Content/LookingForGroupProblem.png" lightbox /></p>
            <p>Given time and some back and forth matching players will or will not be found. That's assuming people actually get to spot our post amongst dozen others.</p>
            <p>What we really need to find a best match, it's best if the following is know upfront:</p>
            <ul>
                <li><b>Server/Region (Americas, Europe, Asia, etc)</b> - we obviously need to play on the same server</li>
                <li><b>Rank</b> - it's best to team up with people of our own skill level</li>
                <li><b>Time</b> - what time of the day and days of the week do we usually play</li>
                <li><b>Battle Tag</b> - how to reach us</li>
            </ul>
            <h4>The Solution</h4>
            <p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/R3S-GHnuur4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </p>
            <p>Idea behind LookingForGroup.me is to make it as easy as possible.</p>
            <ol>
                <li><b>Setup an account</b> - specify your region, ranks, days and time you play</li>
                <li><b>Find similar players</b> - using revolutionary matching algorithm your soul mate will be found in no time</li>
                <li><b>Profit</b> - simple as that!</li>
            </ol>
            <h4>How To</h4>
            <h5>Step 1</h5>
            <p>Setup your account. When do you play? Which ranks? Region? Additional comments?</p>
            <p><img src="/Content/LookingForGroupAccount.png" lightbox  /></p>
            <h5>Step 2</h5>
            <p>Find your best match. The page will take your playing times, ranks, region, and find people that best match you. No questions asked!</p>
            <p><img src="/Content/LookingForGroupFind.png" lightbox /></p>
            <h5>Step 3</h5>
            <p><b>PROFIT!</b></p>
        </div>
    </div>
</div>