<div class="box">
    <div class="box">
        <div class="box-header">
            <h3><i class="fa fa-send"></i> Contact</h3>
        </div>
        <div class="box-body">
            <h4>Contact Me</h4>
            <p>This page is (and forever will be) a work in progress. I appreciate all feedback. Please share your thoughts and contact me here: <a href="mailto:mikeon@objectware.pl">mikeon@objectware.pl</a></p>
            <p>You can also report issues here: <a href="https://github.com/michaltalaga/LookingForGroup/issues">github</a></p>
        </div>
    </div>
</div>